/java-code/HelloWorld/nbproject/private/
/java-code/HelloWorld/build/
/java/ProjectEuler/ProjectEulerOneToTen/nbproject/private/
/java/ProjectEuler/ProjectEulerOneToTen/build/
/java/ProjectEuler/ProjectEulerRunProblem/nbproject/private/
/ProjectEuler/Java/Problem22/nbproject/private/
/ProjectEuler/Java/Problem22/build/
/ProjectEuler/Java/JavaApplication12/nbproject/private/
/ProjectEuler/Java/JavaApplication12/build/
/java/TestProject/nbproject/private/
/java/TestProject/build/
/java/SieveErastosthenes/nbproject/private/