canvas {
	border:1px solid #000000
}

.horizontalDiv {
	display: inline-block
}

body {
	background-color: #EEEEEE
}

div {
	background-color: #EEEEEE
}

p {
	background-color: #EEEEEE
}

h3 {
	background-color: #EEEEEE
}